DJANGO_SECRET_KEY=dev-secret-key
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
POSTGRES_DB=day_heat_record
POSTGRES_USER=day_heat_record
POSTGRES_PASSWORD=day_heat_record
POSTGRES_HOST=db
POSTGRES_PORT=5432
